<footer class="text-center text-white bg-primary ">
  
    <section class="md-6 mt-5 p-4 d-flex justify-content-center align-items-center ">
     <div class="row  bg-light p-3 d-flex justify-contnet-space-around align-items-center border text-dark mt-5 rounded-pill"  > 
      <div  class="col-md-8 ">
          <h5>To stay up to date subscribe to our newsletter</h5>
          <p>Receive the latest news and information via email</p>
        </div>
        <div class="col-md-4">
          <a href="/subsform" class="btn btn-primary px-4">Subscribe</a>
        </div>
      </div>
      </div>
    </section>
    <section class=" m-3 icons d-flex align-items-center justify-content-center">
    <a href="" class="text-white me-4 text-decoration-none">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a href="" class="text-white me-4 text-decoration-none">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="" class="text-white me-4">
      <i class="fab fa-youtube"></i>
    </a>
    </section>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2022
    <a class="text-white text-decoration-none" href=""
      >Kyrgyz Society in the UK</a
    >
    <p>Designed by Rakhat Dzhumabekova</p>
  </div>
  <!-- Copyright -->
</footer>
