<header>
  <nav class="navbar navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand text-white href='/'"> Kyrgyz Society in the UK </a>
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light bg-light py-4">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="forbcollapse navbar-collapse justify-content-center"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav ml-auto mx=auto mb-2 mb-lg-0 nav-fill w-75 pr-5">
          <li class="nav-item">
            <a class="nav-link text-dark" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/about-us"> About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/events"> Events</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link text-dark dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Kyrgystan
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">About Kyrgystan</a></li>
              <li><a class="dropdown-item" href="#">Sightseeing</a></li>
              <li><a class="dropdown-item" href="#">Geography</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/album"> Gallery</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link text-dark dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Courses
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Kyrgyz Language </a></li>
              <li><a class="dropdown-item" href="#">English Language</a></li>
              <li><a class="dropdown-item" href="#">Kyrgyz Dance</a></li>
              <li><a class="dropdown-item" href="#">Workshops</a></li>
            </ul>
          </li>

          <li class="nav-item pr-2">
            <a class="nav-link text-dark pr-1" href="/contact-us">
              Contact us</a
            >
          </li>
          <li class="nav-item ml-4 pl-1 pr-5 mr-5">
            <a class="nav-link active border border-primary" href="/donate">
              Donate</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
