<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>Kyrgyz Sociaety in</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%-include('includes/header') %>
    <div class="p-5 text-center bg-image rounded-5 about-us__img"></div>
    <div class="container mx-auto about-us">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 p-lg-5 shadow-lg m-2 p-5 about-us2">
          <h1>About us</h1>
          <h6>
            Our community is non-profit organisation which work for strengthen
            communication between all Kyrgyz in UK, as well as who are
            interested and loved Kyrgyz culture. Our main mission is to preserve
            our identity amongst all generations of the family unit of the
            Kyrgyz community. Developing Kyrgyz culture and pass it to future
            generations. In this context,
          </h6>
          <ul>
            <li>
              to promote, foster and encourage the Kyrgyz culture, language, and
              heritage
            </li>
            <li>
              to promote and develop community spirit, arouse passion about
              Kyrgyzstan in heart of our children
            </li>
            <li>
              represent the interests of our community in UK to the Government
              of the UK and KR, within this enhance and accelerate the
              contribution of Kyrgyz diaspora in British society and
              institutions
            </li>
            <li>
              to support new arrivals to the UK by providing information about
              education, health, and housing, sharing information about life in
              UK
            </li>
            <li>
              to assist integration of Kyrgyz community in UK and whole world,
              develop links with other communities
            </li>
            <li>
              to assist integration of Kyrgyz community in UK and whole world,
              develop links with other communities
            </li>
            <li>
              develop and coordinate appropriate services, activities, and
              facilities (exhibition, concerts, weekend social activities,
              folklore dance team “Storm of Nomands……” and Kyrgyz language
              course for children, coordinate and organize Norouz, Kurman Ait,
              New Year, 8 Mart, 31 August Independent Day etc.)
            </li>
            <li>
              encourages involvement and participation of people in the affairs
              and decision- making of community in UK
            </li>
            <li>
              cultivate friendship and promote a better understanding of diverse
              cultures through dialog and exchange of information. Our community
              welcomes people of any age and race who loves Kyrgyz culture and
              want to participate and support us in a cross-cultural activities.
              We welcome comments, feedback, quotes, stories, information, and
              questions
            </li>
          </ul>
        </div>
      </div>
    </div>
    <%-include('includes/footer') %>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
