<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gallery</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <%-include('includes/header') %>

  <body>
    <div class="photo-gallery m-5">
      <div class="container border border-primary p-5">
        <div class="Jumborton text-center mt-4 mb-5">
          <h1 class="text-primary">Nooruz Celebration</h1>
          <h5>Spring Festival- Kyrgyz traditional event</h5>
          <h6>April 2022</h6>
        </div>

        <div class="row photos">
          <div class="col-sm-6 col-md-4 col-lg-3 item">
            <a href="/img/IMG-20220402-WA0026.jpg" data-lightbox="photos"
              ><img
                class="img-fluid img-thumbnail grayscale"
                src="/img/IMG-20220402-WA0026.jpg"
            /></a>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 item">
            <a href="/img/-5879701974029547859_121.jpg" data-lightbox="photos"
              ><img
                class="img-fluid img-thumbnail grayscale"
                src="/img/-5879701974029547859_121.jpg"
            /></a>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 item">
            <a href="/img/-5879701974029547873_121.jpg" data-lightbox="photos"
              ><img
                class="img-fluid img-thumbnail grayscale"
                src="/img/-5879701974029547873_121.jpg"
            /></a>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 item">
            <a href="/img/IMG-20220402-WA0024.jpg" data-lightbox="photos"
              ><img
                class="img-fluid img-thumbnail grayscale"
                src="/img/IMG-20220402-WA0024.jpg"
            /></a>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 item">
            <a href="/img/IMG-20220321-WA0029.jpg" data-lightbox="photos"
              ><img
                class="img-fluid img-thumbnail grayscale"
                src="img/IMG-20220321-WA0029.jpg"
            /></a>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 item">
            <a href="/img/IMG-20220402-WA0053.jpg" data-lightbox="photos"
              ><img
                class="img-fluid img-thumbnail grayscale"
                src="/img/IMG-20220402-WA0053.jpg"
            /></a>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 item">
            <a href="/img/-5879701974029547883_121.jpg" data-lightbox="photos"
              ><img
                class="img-fluid img-thumbnail grayscale"
                src="/img/-5879701974029547883_121.jpg"
            /></a>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 item">
            <a href="/img/-5879701974029547879_121.jpg" data-lightbox="photos"
              ><img
                class="img-fluid img-thumbnail grayscale"
                src="/img/-5879701974029547879_121.jpg"
            /></a>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 item">
            <a href="/img/IMG-20220402-WA0030.jpg" data-lightbox="photos"
              ><img
                class="img-fluid img-thumbnail grayscale"
                src="/img/IMG-20220402-WA0030.jpg"
            /></a>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 item">
            <a href="/img/-5906620866240822047_121.jpg" data-lightbox="photos"
              ><img
                class="img-fluid img-thumbnail grayscale"
                src="img/-5906620866240822047_121.jpg"
            /></a>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 item">
            <a href="/img/IMG-20220402-WA0033.jpg" data-lightbox="photos"
              ><img
                class="img-fluid img-thumbnail grayscale"
                src="img/IMG-20220402-WA0033.jpg"
            /></a>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 item">
            <a
              href="/public/img/-5879701974029547874_121.jpg"
              data-lightbox="photos"
              ><img
                class="img-fluid img-thumbnail grayscale"
                src="img/-5879701974029547874_121.jpg"
            /></a>
          </div>
        </div>
      </div>
    </div>
    <div class="photo-gallery m-5">
      <div class="container border border-primary p-5">
        <div class="Jumborton text-center mt-4 mb-5">
          <h1 class="text-primary">New Year Celebration</h1>
          <h5>New year celebration with ded Moroz and Snegurochka</h5>
          <h6>December 2019</h6>
        </div>

        <div class="row photos">
          <div class="col-sm-6 col-md-4 col-lg-3 item">
            <a href="/img/FB_IMG_1643711895258.jpg" data-lightbox="photos"
              ><img
                class="img-fluid img-thumbnail grayscale"
                src="/img/FB_IMG_1643711895258.jpg"
            /></a>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 item">
            <a href="/img/FB_IMG_1643711914450.jpg" data-lightbox="photos"
              ><img
                class="img-fluid img-thumbnail grayscale"
                src="/img/FB_IMG_1643711914450.jpg"
            /></a>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 item">
            <a href="/img/FB_IMG_1643712001634.jpg" data-lightbox="photos"
              ><img
                class="img-fluid img-thumbnail grayscale"
                src="/img/FB_IMG_1643712001634.jpg"
            /></a>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 item">
            <a href="/img/FB_IMG_1643711944397.jpg" data-lightbox="photos"
              ><img
                class="img-fluid img-thumbnail grayscale"
                src="/img/FB_IMG_1643711944397.jpg"
            /></a>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 item">
            <a href="/img/FB_IMG_1643711904068.jpg" data-lightbox="photos"
              ><img
                class="img-fluid img-thumbnail grayscale"
                src="/img/FB_IMG_1643711904068.jpg"
            /></a>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 item">
            <a href="/img/FB_IMG_1643711920194.jpg" data-lightbox="photos"
              ><img
                class="img-fluid img-thumbnail grayscale"
                src="/img/FB_IMG_1643711920194.jpg"
            /></a>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 item">
            <a href="/img/FB_IMG_1643711953031.jpg" data-lightbox="photos"
              ><img
                class="img-fluid img-thumbnail grayscale"
                src="/img/FB_IMG_1643711953031.jpg"
            /></a>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 item">
            <a href="/img/FB_IMG_1643711898400.jpg" data-lightbox="photos"
              ><img
                class="img-fluid img-thumbnail grayscale"
                src="/img/FB_IMG_1643711898400.jpg"
            /></a>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 item">
            <a href="/img/FB_IMG_1643711976105.jpg" data-lightbox="photos"
              ><img
                class="img-fluid img-thumbnail grayscale"
                src="/img/FB_IMG_1643711976105.jpg"
            /></a>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 item">
            <a href="/img/FB_IMG_1643711936118.jpg" data-lightbox="photos"
              ><img
                class="img-fluid img-thumbnail grayscale"
                src="/img/FB_IMG_1643711936118.jpg"
            /></a>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 item">
            <a href="/img/FB_IMG_1643712013056.jpg" data-lightbox="photos"
              ><img
                class="img-fluid img-thumbnail grayscale"
                src="/img/FB_IMG_1643712013056.jpg"
            /></a>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 item">
            <a href="/img/FB_IMG_1643711923526.jpg" data-lightbox="photos"
              ><img
                class="img-fluid img-thumbnail grayscale"
                src="/img/FB_IMG_1643711923526.jpg"
            /></a>
          </div>
        </div>
      </div>
    </div>
    <div class="photo-gallery m-5">
      <div class="container border border-primary p-5">
        <div class="Jumborton text-center mt-4 mb-5">
          <h1 class="text-primary pb-2">Kyrgyzstan's Indepedence Day</h1>
          <h5 class="pb-2">
            Picnic at the park to celebrate Kyrgyzstan's Indepedence Day
          </h5>
          <h6>September 2019</h6>
        </div>

        <div class="row photos">
          <div class="col-sm-6 col-md-4 col-lg-3 item">
            <a href="/img/FB_IMG_1642854914907.jpg" data-lightbox="photos"
              ><img
                class="img-fluid img-thumbnail grayscale"
                src="/img/FB_IMG_1642854914907.jpg"
            /></a>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 item">
            <a href="/img/FB_IMG_1643712094910.jpg" data-lightbox="photos"
              ><img
                class="img-fluid img-thumbnail grayscale"
                src="/img/FB_IMG_1643712094910.jpg"
            /></a>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 item">
            <a href="/img/FB_IMG_1643712104668.jpg" data-lightbox="photos"
              ><img
                class="img-fluid img-thumbnail grayscale"
                src="/img/FB_IMG_1643712104668.jpg"
            /></a>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 item">
            <a href="/img/FB_IMG_1643712117088.jpg" data-lightbox="photos"
              ><img
                class="img-fluid img-thumbnail grayscale"
                src="/img/FB_IMG_1643712117088.jpg"
            /></a>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 item">
            <a href="/img/FB_IMG_1643712078085.jpg" data-lightbox="photos"
              ><img
                class="img-fluid img-thumbnail grayscale"
                src="/img/FB_IMG_1643712078085.jpg"
            /></a>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 item">
            <a href="/img/FB_IMG_1643712052470.jpg" data-lightbox="photos"
              ><img
                class="img-fluid img-thumbnail grayscale"
                src="/img/FB_IMG_1643712052470.jpg"
            /></a>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 item">
            <a href="/img/FB_IMG_1643712059283.jpg" data-lightbox="photos"
              ><img
                class="img-fluid img-thumbnail grayscale"
                src="/img/FB_IMG_1643712059283.jpg"
            /></a>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 item">
            <a href="/img/FB_IMG_1643712476193.jpg" data-lightbox="photos"
              ><img
                class="img-fluid img-thumbnail grayscale"
                src="/img/FB_IMG_1643712476193.jpg"
            /></a>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 item">
            <a href="/img/FB_IMG_1643712072148.jpg" data-lightbox="photos"
              ><img
                class="img-fluid img-thumbnail grayscale"
                src="/img/FB_IMG_1643712072148.jpg"
            /></a>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 item">
            <a href="/img/FB_IMG_1643712464381.jpg" data-lightbox="photos"
              ><img
                class="img-fluid img-thumbnail grayscale"
                src="/img/FB_IMG_1643712464381.jpg"
            /></a>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 item">
            <a href="/img/FB_IMG_1642855111906.jpg" data-lightbox="photos"
              ><img
                class="img-fluid img-thumbnail grayscale"
                src="/img/FB_IMG_1642855111906.jpg"
            /></a>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 item">
            <a href="/img/FB_IMG_1643712121254.jpg" data-lightbox="photos"
              ><img
                class="img-fluid img-thumbnail grayscale"
                src="/img/FB_IMG_1643712121254.jpg"
            /></a>
          </div>
        </div>
      </div>
    </div>
    <%-include('includes/footer') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
  </body>
</html>
